<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Form - İklim Değişikliği</title>
</head>
<body>
    <header>
        <h1>İklim Değişikliği</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="reasons.html">Nedenler</a></li>
            <li><a href="precautions.html">Önlemler</a></li>
            <li><a href="results.html">Sonuçlar</a></li>
            <li><a href="informations.html">Bilgiler</a></li>
            <li><a href="test.html">Ne Kadar Önlem Alıyorsun?</a></li>
            <li><a href="tm.html">Görüntü Sınıflandırma</a></li>
        </ul>
    </nav><!-- Aynı header ve nav kodları burada da kullanılabilir -->
    <section>
        <h2>İklim Değişikliğinin Nedenleri</h2>
        <p>İklim değişikliğinin ana nedenleri...</p>
    </section>
</body>
</html>
